{% extends 'main.html' %} {% block content %}
<h1>{{profile.username}} profile</h1>
<img style="max-width: 500px" src="{{profile.profile_image.url}}" alt="img" />
<p>{{profile.email}}</p>
<p>{{profile.bio}}</p>
<p style="color: maroon;"> Skills :</p>
{% for skill in profile.skill_set.all%}
<p>{{skill}}</p>
{% endfor %} 
{% for project in profile.project_set.all %}
Projects-done -> 
{%if project.owner == request.user.profile %}
<a href="{% url 'update-project' project.id%}">Edit</a>
<a href="{% url 'delete-project' project.id%}">Delete</a>
{% endif %}
<a href="{% url 'project' project.id%}""> {{project.title}}</a>
<br>
{% endfor %}
 {%endblock %}
